/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.hero-image {
    position: relative;
    overflow: hidden;
    height: 300px;
    /* Adjust the height as needed */
}

.hero-image img,
.map-hero iframe {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Add these styles in your existing CSS */
.hero-image {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
    /* Prevent text wrapping */
}

/* Media query for smaller screens, adjust as needed */
@media screen and (max-width: 600px) {
    .overlay-text {
        font-size: 18px;
    }
}


/* Navigation Styles */
nav {
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Main Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Card Styles */
.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: darkgoldenrod;
}

/* Footer Styles */
footer {
    color: #dad7d7;
    background-color: #420537;
    padding: 10px;
    text-align: center;
}

/* Heading Styles */
h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: navy;
    text-align: left;
    margin: 1rem;
}

/* Responsive Navigation Styles */
nav {
    
    margin: 1rem auto;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align items to the center horizontally */
    list-style: none;
    background-color: #000000;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    align-content: center;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

.active::before {
    content: "📍";
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #000000;
    color: #fff;
}

#toggleDarkMode {
    float: right;
    margin-top: 10px;
}


/* Existing CSS styles and any additional styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.toggle-buttons {
    margin-bottom: 20px;
}

#members-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.members-list .member {
    margin-bottom: 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section>* {
    margin: 0.1rem;
}

.grid h3 {
    font-family: "Caveat", cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: #bed;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

img {
    height: 75px;
    max-width: 100%;
    /* Images are jerks - Seattle*/
}